.table__body-row {
    display: flex;
    border-bottom: 2px solid #ffffff;
    min-height: 44px;
}

.table__body-row_clickable {
    cursor: pointer;
}

.table__body-row_clickable:hover {
    opacity: 0.7;
}