.menu {
    background-color: #262626;
    height: 23px;
    box-sizing: border-box;
    user-select: none;
}

.menu__internal {
    box-shadow: inset 1px 0px 0px 0px #ffffff;
    height: 20px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: #dddddd;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #bbbbbb;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}