body {
  margin: 0;
  padding: 0;
  background-color: #6361a0;
  font-family: Lucida Grande;
}

@font-face {
  font-family: 'Garamond';
  src: url('/hls-lint/fonts/applegaramond-webfont.woff2') format('woff2'),
       url('/hls-lint/fonts/applegaramond-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lucida Grande';
  src: url('/hls-lint/fonts/lucidagrande-webfont.woff2') format('woff2'),
       url('/hls-lint/fonts/lucidagrande-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lucida Grande';
  src: url('/hls-lint/fonts/lucidagrande_bold-webfont.woff2') format('woff2'),
       url('/hls-lint/fonts/lucidagrande_bold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
